<div class="a-main">
	<h1>Relive your favorite memories</h1>
</div>
<div class="a-support">
	<h1>No more sorting through photos</h1>
	<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
	<div class="lr1"><%= link_to "Sign up", new_signup_path %></div>
</div>