

<div class="main">
<a class="menu"><%= image_tag('menu.png', class: 'menu-icon') %></a>
<div class="side-bar">
	<%= image_tag("close.png", class: 'close-icon') %>
	<ul>
		<li><a href="#"></a>Home</li>
		<li><a href="#"></a>About</li>
		<li><a href="#"></a>Contact</li>
	</ul>
</div>
<h1 class="heading">Create and share Stories</h1>
</div>
<div class="support-section">
	<h1>Relive and share your adventures</h1>
	<h3>Stories automatically creates a digital journal filled with only your best photos.</h3>
</div>
<div class="sec-section">
	
</div>
<div class="discover-section">
	
</div>
<div class="footer">
	
</div>
